body {
  background: bisque;
}

#banner {
  text-align: center;
  background: aquamarine;
}

#sideBar {
  width: 22%;
  background: lightskyblue;
  float: right;
  padding: 10px;
}

#topBar {
  width: 100%;
  background-color: lightpink;
}
