#banner {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: #AC6D86;
    color: white;
    font-family: "Lobster", "Segoe Print", "Comic Sans MS";
    font-size: 30px;
}

#bannerLink {
    outline: none;
    text-decoration: none;
    color: white;
}