#titleInput {
    margin: 0px 0px 10px 0px;
    padding: 7px;
}

#authorInput {
    margin: 0px 0px 10px 0px;
}

#editor {
    margin: 15px;
}

#submitButton {
    margin: 10px 0px 0px 0px;
}

#tagInput {
    margin: 10px 0px 0px 0px;
}

.ck-editor__editable {
    min-height: 400px !important;
}

input[type=text] {
    box-sizing: border-box;
    border: 3px solid #F8E3D6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.titleStyle:focus {
    border: 3px solid #E498A5;
    outline: none;
}